

<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

    <p>Bienvenue à toi cher utilisateur la liste des potins arrive bientot. <br> 
    En attendant tu peux aller en creer sur <a href="/gossips/new/">NOUVEAU POTINS</a></p>
  </body>
</html>